DISCORD_TOKEN=<discord-token>

MODEL_FILE=<model-filename>
MODEL_NAME=<model-label>
MODEL_PATH=<model-path>

DOLPHIN_GPU_LAYERS=<gpu-layers>
DOLPHIN_NTHREADS=<number-threads>
DOLPHIN_SYSTEM_PROMPT=<system-prompt>
DOLPHIN_EMBED_URL=<link>
DOLPHIN_EMBED_IMG=<image>
DOLPHIN_CMD_SCOPE=<server>
DOLPHIN_CMD_CHANNEL=<channel>
DOLPHIN_MAX_REQ=<max-req>
